<form #questionForm>
    <mat-form-field class="full-width">
        <input name="name" matInput placeholder="Question Name"  [(ngModel)]="question.name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input name="optionA" matInput placeholder="Option A"  [(ngModel)]="question.optionA">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input name="optionB" matInput placeholder="Option B"  [(ngModel)]="question.optionB">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input name="optionC" matInput placeholder="Option C"  [(ngModel)]="question.optionC">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input name="optionD" matInput placeholder="Option D"  [(ngModel)]="question.optionD">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input name="rs" matInput type="number" placeholder="Point"  [(ngModel)]="question.rs">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ans</mat-label>
        <mat-select matNativeControl name="ans" required  [(ngModel)]="question.ans">
            <mat-option value="optionA">A</mat-option>
            <mat-option value="optionB">B</mat-option>
            <mat-option value="optionC">C</mat-option>
            <mat-option value="optionD">D</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button type="button" mat-raised-button color="primary" (click)="addQuestion();questionForm.reset();">Add Question</button>
    </div>
</form>
<mat-divider></mat-divider>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Question </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="optionA">
            <th mat-header-cell *matHeaderCellDef> Option A </th>
            <td mat-cell *matCellDef="let element"> {{element.optionA}} </td>
        </ng-container>

        <ng-container matColumnDef="optionB">
            <th mat-header-cell *matHeaderCellDef> Option B </th>
            <td mat-cell *matCellDef="let element"> {{element.optionB}} </td>
        </ng-container>

        <ng-container matColumnDef="optionC">
            <th mat-header-cell *matHeaderCellDef> Option C </th>
            <td mat-cell *matCellDef="let element"> {{element.optionC}} </td>
        </ng-container>

        <ng-container matColumnDef="optionD">
            <th mat-header-cell *matHeaderCellDef> Option D </th>
            <td mat-cell *matCellDef="let element"> {{element.optionD}} </td>
        </ng-container>

        <ng-container matColumnDef="ans">
            <th mat-header-cell *matHeaderCellDef> Ans. </th>
            <td mat-cell *matCellDef="let element"> {{element.ans}} </td>
        </ng-container>

        <ng-container matColumnDef="rs">
            <th mat-header-cell *matHeaderCellDef> Rs </th>
            <td mat-cell *matCellDef="let element"> {{element.rs}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div>
    <button type="button" mat-raised-button color="primary"  routerLink="/gameQuestion">Start Game</button>
</div>
<div>
    <button type="button" mat-raised-button color="primary" (click)="resetGame();">Reset Game</button>
</div>
